.map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 1.1rem);
    margin-top: 1.1rem;
}

.map .left {
    width: 30%;
    padding: 0.7rem 0.48rem 0 0.98rem;
}

.map .left .title {
    font-size: 0.4rem;
}

.map .left .input-box {
    width: 100%;
    height: 0.5rem;
    border: 1px solid #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 0.38rem;
}

.map .left .input-box input {
    font-size: 0.2rem;
    color: #333;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 0.2rem;
    margin-left: 0.02rem;
}

.map .left .input-box .img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 0.5rem;
    height: 0.5rem;
    border-left: 1px solid #333;
    cursor: pointer;
}

.map .left .input-box .img-box img {
    width: 0.2rem;
    height: 0.2rem;
}

.map .left ul {
    margin-top: 0.32rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 75%;
    overflow-y: scroll;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.map .left ul li {
    padding-top: 0.22rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}

.map .left ul li .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 0.22rem;
    /* cursor: pointer; */
}

.map .left ul li .header .left-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.map .left ul li .header .left-box img {
    width: 0.28rem;
    height: 0.19rem;
}

.map .left ul li .header .left-box div {
    font-size: 0.2rem;
    color: #333;
    margin-left: 0.2rem;
}

.map .left ul li .header .right-box {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.map .left ul li .content .content-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0.15rem 0.22rem 0.32rem 0.35rem;
    /* cursor: pointer; */
}

.map .left ul li .content .content-box .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.map .left ul li .content .content-box .top .title {
    font-size: 0.26rem;
    color: #333;
}

.map .left ul li .content .content-box .top .link-box {
    width: 0.46rem;
    height: 0.46rem;
    background-color: #39aeb2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.map .left ul li .content .content-box .top .link-box .link {
    width: 0.16rem;
    height: 0.16rem;
}

.map .left ul li .content .content-box .top .link-box:hover {
    background-color: #f08c58;
}

.map .left ul li .content .content-box .distributorAddress {
    color: #333;
    font-size: 0.2rem;
    margin-top: 0.18rem;
}

.map .left ul li .content .content-box .phone {
    margin-top: 0.23rem;
    color: #333;
    font-size: 0.2rem;
}

.map .left ul li .content .content-box .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0.28rem;
}

.map .left ul li .content .content-box .bottom img {
    width: 0.22rem;
    height: 0.22rem;
    margin-right: 0.06rem;
    cursor: pointer;
}

.map .left ul::-webkit-scrollbar {
    width: 0;
}

.map #myMap {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: calc(100vh - 1.1rem);
}

#NavBar_MapTypeText {
    font-size: 0.16rem;
}

.jump {
    position: fixed;
    right: 0.3rem;
    bottom: 1rem;
    width: 2.39rem;
    height: 2.25rem;
    cursor: pointer;
}

.jump .jump-title {
    position: absolute;
    color: #000;
    font-size: 0.24rem;
    left: 0.25rem;
    top: 1.15rem;
    font-style: oblique;
}

.jump .jump-click {
    font-size: 0.14rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0.095rem;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0.25rem;
    color: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.jump .jump-click img {
    width: 0.16rem;
}

.jump .jump-click:hover {
    color: #ff874a;
}

.jump img {
    width: 100%;
    height: 100%;
}

.atlas-map .popup-content-container {
  box-shadow: none;
}

.customInfobox {
    background-color: rgba(27, 28, 33, 0.6);
    border-radius: 0.1rem;
    font-size: 0.2rem;
    color: #fff;
    padding: 0.22rem 0.18rem 0.25rem 0.18rem;
}

.customInfobox .title {
    font-size: 0.24rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.78);
    padding-bottom: 0.17rem;
}

.customInfobox .distributorAddress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0.15rem;
}

.customInfobox .distributorAddress img {
    width: 0.16rem;
}

.customInfobox .distributorAddress div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 0.14rem;
    padding-left: 0.08rem;
}

.customInfobox .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0.15rem;
}

.customInfobox .phone img {
    width: 0.16rem;
}

.customInfobox .phone div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 0.14rem;
    padding-left: 0.08rem;
}

.customInfobox .world {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0.15rem;
}

.customInfobox .world img {
    width: 0.16rem;
}

.customInfobox .world div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 0.14rem;
    padding-left: 0.08rem;
}

.mb-map {
    position: relative;
    width: 100%;
    height: 100%;
}

.mb-map .mb-search-box {
    position: fixed;
    top: 1.6rem;
    left: 0.47rem;
    width: 0.86rem;
    height: 0.86rem;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mb-map .mb-search-box img {
    width: 0.3rem;
}

.mb-map .mb-all-search {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 2222;
    padding: 2rem 0.3rem;
}

.mb-map .mb-all-search .mb-input-box {
    height: 0.85rem;
    padding: 0 0.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #333;
    border-radius: 0;
    border-radius: 0.07rem;
}

.mb-map .mb-all-search .mb-input-box input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 70%;
    font-size: 0.28rem;
    padding: 0 0.26rem;
    border-left: 1px solid #333;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
}

.mb-map .mb-all-search .mb-input-box .icon-box {
    height: 100%;
    width: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mb-map .mb-all-search .mb-input-box .icon-box img {
    width: 0.3rem;
}

.mb-map .mb-all-search .mb-input-box .text {
    font-size: 0.26rem;
    margin-left: 0.2rem;
}

.mb-map .mb-map-list {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    left: 0;
    z-index: 222;
}

.mb-map .mb-map-list .top {
    height: 1.05rem;
    background-color: #fff;
    border-bottom: 1px solid rgba(81, 93, 103, 0.33);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0.75rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mb-map .mb-map-list .top .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mb-map .mb-map-list .top .left img {
    width: 0.5rem;
}

.mb-map .mb-map-list .top .left div {
    color: #333;
    font-size: 0.28rem;
    padding-left: 0.33rem;
}

.mb-map .mb-map-list .top .right {
    width: 0.15rem;
    height: 0.26rem;
}

.mb-map .mb-map-list .top .right img {
    width: 100%;
    height: 100%;
}

.mb-map .mb-map-list .bottom {
    padding: 0.24rem 0 1.17rem 0.75rem;
    position: relative;
}

.mb-map .mb-map-list .bottom .map-mb-swiper {
    padding-right: 0.67rem;
}

.mb-map .mb-map-list .bottom .map-mb-swiper .swiper-slide {
    width: 100%;
    background-color: #f8f9fa;
    height: 100%;
    padding: 0.47rem 0.34rem 0.4rem 0.5rem;
    position: relative;
}

.mb-map .mb-map-list .bottom .map-mb-swiper .swiper-slide .state {
    font-size: 0.40rem;
    color: #333;
}

.mb-map .mb-map-list .bottom .map-mb-swiper .swiper-slide .distributorAddress {
    font-size: 0.28rem;
    color: #333;
    margin-top: 0.48rem;
}

.mb-map .mb-map-list .bottom .map-mb-swiper .swiper-slide .phone {
    color: #333;
    font-size: 0.28rem;
    margin-top: 0.33rem;
}

.mb-map .mb-map-list .bottom .map-mb-swiper .swiper-slide .icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0.36rem;
}

.mb-map .mb-map-list .bottom .map-mb-swiper .swiper-slide .icon-box img {
    width: 0.47rem;
    margin-right: 0.3rem;
}

.mb-map .mb-map-list .bottom .map-mb-swiper .swiper-slide .link {
    position: absolute;
    width: 0.68rem;
    height: 0.68rem;
    background-color: rgba(176, 186, 200, 0.2);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0.23rem;
    right: 0.34rem;
}

.mb-map .mb-map-list .bottom .map-mb-swiper .swiper-slide .link img {
    width: 0.23rem;
}

.mb-map .mb-map-list .bottom .swiper-pagination {
    position: absolute;
    top: 4.3rem;
    width: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 2px;
    background-color: #f8f9fa;
}

.mb-map .mb-map-list .bottom .swiper-pagination span {
    background-color: #d4d7dc;
    border-radius: 2px;
}

.mb-map .mb-map-list .mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.mb-map .mb-map-list .mb-map-country-list {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    z-index: 222;
    width: 100%;
    border-radius: 0.13rem 0.13rem 0 0;
    max-height: 70%;
    overflow-y: scroll;
    padding: 0 0.45rem;
}

.mb-map .mb-map-list .mb-map-country-list .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0.27rem;
    height: 1.05rem;
    border-radius: 0.13rem 0.13rem 0 0;
    border-bottom: 1px solid rgba(81, 93, 103, 0.33);
    width: 90%;
    position: fixed;
    background-color: #fff;
    z-index: 1;
}

.mb-map .mb-map-list .mb-map-country-list .header div {
    color: #333;
    font-size: 0.32rem;
}

.mb-map .mb-map-list .mb-map-country-list .header img {
    width: 0.25rem;
}

.mb-map .mb-map-list .mb-map-country-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding-top: 1.1rem;
}

.mb-map .mb-map-list .mb-map-country-list ul li,
.mb-map .mb-all-search .searchResult_mb li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 1.05rem;
    padding: 0 0.3rem;
    position: relative;
    /* cursor: pointer; */
}

.mb-map .mb-map-list .mb-map-country-list ul li .left,
.mb-map .mb-all-search .searchResult_mb li .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mb-map .mb-map-list .mb-map-country-list ul li .left div,
.mb-map .mb-all-search .searchResult_mb li .left div {
    color: #333;
    font-size: 0.28rem;
    margin-left: 0.33rem;
}

.mb-map .mb-map-list .mb-map-country-list ul li .left img,
.mb-map .mb-all-search .searchResult_mb li .left img {
    width: 0.5rem;
}

.mb-map .mb-map-list .mb-map-country-list ul li .right,
.mb-map .mb-all-search .searchResult_mb li .right {
    width: 0.28rem;
}

.mb-map .mb-map-list .mb-map-country-list ul li::after,
.mb-map .mb-all-search .searchResult_mb li::after {
    position: absolute;
    width: 80%;
    content: "";
    height: 1px;
    background-color: rgba(81, 93, 103, 0.33);
    display: block;
    bottom: 0;
    left: 17%;
}

/*# sourceMappingURL=map.css.map */

.mb-map .mb-all-search .searchResult_mb {
    display: flex;
    flex-direction: column;
    margin-top: 0.15rem;
    overflow-y: scroll;
}

.mb-map .mb-all-search {
    overflow-y: scroll;
}

/* .mb-map .mb-map-list .top,
.mb-map .mb-map-list .bottom .map-mb-swiper,
.mb-map .mb-all-search .mb-input-box .text{
  cursor: pointer;
} */