.x70 .carShow .carSwiper .swiper-slide .frontW_0{    top: 1.86rem; left: 1.2rem;}
.x70 .carShow .carSwiper .swiper-slide .rearw_0{top: 1.86rem; left: 6.68rem;}
.x70 .carShow .title img{width: 3.29rem;}
.x70 .modelTestDrive .l img{width:7.57rem ;}
@media (max-width: 1012px)
{
    .x70 .carShow .carSwiper .swiper-slide .frontW_0{    top: 1.43rem; left: 0.95rem;}
    .x70 .carShow .carSwiper .swiper-slide .rearw_0{ top: 1.43rem; left: 5.2rem;}
}